
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    background-color: rgb(50, 16, 202);
    height: 100vh;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.flex {
    display: flex;
}


header {
    padding: 40px 4%;
}

header>.interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: white;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    padding: 0 40px;
}



.contatos button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: rgb(35, 190, 30);
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: 2s;
}

h2.titulo {
    color: #fff;
    font-size: 38px;
    text-align: center;
}

h2.titulo span {
    color: rgb(47, 199, 27);
}


section.topo .flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo .meutopo h1 {
    color: #fff;
    font-size: 48px;
    line-height: 40px;
}



.especialidades .especialidades-box {
    color: #fff;
    padding: 40px;
    border-radius: 20px;
    margin-top: 45px;
    transition: .2s;
}

.especialidades .especialidades-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px #ffffff63;
}

.especialidades .especialidades-box i {
    font-size: 70px;
    color: blueviolet;
}

.especialidades .especialidades-box h3 {
    font-size: 28px;
    margin: 15px 0;
}



section.sobre {
    padding: 80px 4%;
}

section.sobre .flex {
    align-items: center;
    gap: 60px;
}

.sobre .txt-sobre {
    color: #fff;
}

.sobre .txt-sobre h2 {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 30px;
}

.sobre .txt-sobre h2 span {
    display: block;
    color: rgb(37, 185, 32);
}

.sobre .txt-sobre p {
    margin: 20px 0;
    text-align: justify;
}


img {
    border-radius: 50px;
}

.section p{ color: White;}
.section h2{ color:white;}

footer {
    padding: 40px 4%;
    box-shadow: 0 0 40px 10px #ffffff1d;
}

footer .flex {
    justify-content: end;
}

footer .line-footer {
    padding: 20px 0;
}


footer .line-footer p i {
    color: rgb(23, 168, 55);
    font-size: 22px;
}


footer .line-footer p a {
    color: #fff;
}







